.container {
    margin:0!important;
}
.headerOfTheWell {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.tooltipDown {
    font-size:14px;
    font-weight:normal;
    text-align: left;
    cursor:pointer;
    padding: 18px 48px;
}
.buttonContractShow {
    float:right;
}
.articleOfContract {
    vertical-align: -webkit-baseline-middle;
}
.picTemplate {
    width:400px;
    height:300px;
    display: inline-block;
    border: 1px solid black;
    cursor:pointer;
}
.titleWell {
    padding:0;
    margin:0 0 10px 0;
}
.numberOfPhoto {
    font-size:200px;
    text-align: center;
}
.queenFish {
    display: inline;
    float: left;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 2px 10px 0 0;
}

.contractBody {
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin: 10px 0 0 0;
    padding: 10px 0 10px 15px;
    width:50%;
    display: inline-block;
}
.arrowUp {
    color: green;
}
.arrowDown {
    color: red;
}
.quantityOfVotes {
    font-size: 26px;
    margin-left: 6px;
}
.contractText {
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-break: auto;
    width: 75%;
}
.contractHeader {
    color: darkblue;
}
.votesDestination {
    margin-top: 45px;
}
.hashTag {
    border: 1px solid;
    padding: 5px;
    background-color: #c345e32e;
    margin-right: 5px;
}
.showMore {
    margin-left: 25px;
}
.hashTagHeader {
    display: inline;
}
.userIcon {
    margin-right:15px;
}
.ownerPart{
    display: inline;
    margin-left:50px;
}
.homeDestination {
    display: inline-flex;
}
.rightSide {
    width: 50%;
    display: inline-block;
    margin-left: 40px;
}